Options -Indexes
RewriteEngine On

# Rewrite other URLs
Header set Access-Control-Allow-Origin "https://localhost/mychatapp1/public/"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ public/index.php [L]

